html, body{
    height: 100%;
}
body{
	font-family: 'Arial', sans-serif;
	font-size:17px;
	color:#333333;
    background-color: #ffffff;
    margin: 0;
}
.wrapper{
    min-height: 90%;
}
a{
    text-decoration: none;
    color: #333333;
}
hr{
    border: none;
    color: #333333;
    background-color: #333333;
    height: 1px;
}
.menu a:hover{
    color: #954947;
}
.table_catalog a:hover{
    color: #954947;
   
}
.photo_catalog{
    margin: 20px 25px;
    text-align: center;
}
.photo_catalog:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.container{
    width: 100%;
    min-width: 1000px;
    text-align: center;
}
.info{
    text-align: center;
    margin-bottom: 280px;
}
.header{
    height: 150px;
    margin: 10px;
    padding: 5px;
}
.menu{
    float: right;
    background-color: #F2E9E9;
    border:3px solid #F2E9E9;
	border-radius: 5px;
    max-width: 400px;
}
ul.table_menu{ 
    margin: 0;
    padding: 4px; 
}
ul.table_menu li {
    display: inline;
    margin: 10px;
    padding: 3px;
}
.table_catalog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}
.product{
    padding-bottom:370px;
    margin-bottom:50px;
}
.photo img{
    margin: 0px 5px;
    padding: 0 20px;
}
.btn-outline-success{
    color: #38753C;
    border-color: #38753C;
}
.btn-outline-success:hover{
    background-color: #38753C;
    color: #ffffff;
}
.btn-outline-success:focus {
    box-shadow: 0 0 0 0;
}
.description{
    padding-top: 1px;
}
.footer{
    height: 230px;
    background-color: #333333;
    color:#ffffff;
    text-align: center;
}
.footer_description{
    padding-top: 90px;
}
.all_feedback{
    margin: 25px 15px;
}
.feedback{
    border-width:1;
    border-radius: 0.25rem;
    border-color: #0d6efd;
    border-style: solid;
    padding: 10px;
    margin-bottom: 15px;
}
.text{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
/*@media screen and (max-width: 900px) {
    body {
        background-color: #333333cc;
        color: #ffffff;
    }
    .table_catalog a{
        color: #ffffff;
    }
    .table_catalog a:hover{
        color: #ffa19e;
    }
    .menu a:hover{
        color: #ffa19e;
    }
    .btn-outline-success{
        background-color: #ffffff;
    }
    hr{
        color: #ffffff;
        background-color: #ffffff;
    }
}*/