<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <img src="/static/logo.png" alt="logo" height="125px">
            <div class="menu">
                <ul class="table_menu">
                    <a href="/">
                        <li>Главная</font></li>
                    </a>
                    <a href="/catalog">
                        <li>Каталог</font></li>
                    </a>
                    <a href="/about_us">
                        <li>О нас</font></li>
                    </a>
                </ul>
            </div>
        </div>
        {% block content %} {% endblock %}
        <div class="footer">
            <div class="footer_description">
                <p>Спасибо за посещение!</p>
            </div>
        </div>
    </div>
</body>
</html>