{% extends "base.html" %}
{% block title %} {{super()}}Каталог{% endblock %}
{% block content %}
        <h1 align="center"><i>Свечи</i></h1>
        <hr>
        <div class="table_catalog">
            {% for item in items %}
                <div class="photo_catalog">
                    <a href="/item/{{item.name}}">
                        <img src="{{ url_for('static', filename='/'+item.image) }}" alt="logo" height="200px">
                        <h4>{{item.name}}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}